<mat-sidenav-container class="sidenav">

  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let environment of environments">
      {{environment.name}}: {{environment.status}}
    </mat-grid-tile>
  </mat-grid-list>

</mat-sidenav-container>
